include ./config.pug
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Репетитор игры на гитаре с семилетним опытом преподавания. Научу вас с самых азов до профессионального уровня за короткое время!")
        meta(name="author", content="Никита Попков")
        meta(name="keywords", content="учеба, репетитор, игры на гитаре")
        title #{title} | Guitar School
        link(href="https://fonts.googleapis.com/css2?family="+fonts+"\&display=swap", rel="stylesheet")
        block style
            
    body 
        .wrapper 
            .wrapper__content
                block content
            block footer
