@import "normalize.scss"
@import "reset.scss"

$bgc-main: #F2F2F2
$wrapper-width: 1440px

.wrapper // Установка контейнера
    max-width: $wrapper-width
    margin-inline: auto

.main-section // Установка Главной секции (внутри Навигация, Оффер)
    padding-block-start: 14px
    height: 800px
    background-color: $bgc-main
    &__nav-wrapper // Настройка Навигации (высота, расположение внутри элементов)
        height: 75px
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        width: 146px



.nav-menu
    &__list
        display: flex
        flex-direction: row
        &-item
            list-style: none
            margin-inline-end: 47px
            font-size: 18px
            font-weight: 800
            &:last-of-type
                margin-inline-end: 0px
        &-item>a
            text-decoration: none
            color: black