@keyframes fade-in
    from
        transform: translateY(70px)
        opacity: 0
    to  
        opacity: 1
@keyframes stick-blue
    from
        opacity: 0
        transform: rotate(0deg)
    to
        opacity: 1
        transform: rotate(25deg)
@keyframes stick-orange
    from
        opacity: 0
        transform: rotate(0deg)
    to
        opacity: 1
        transform: rotate(40deg)
@keyframes stick-gray
    from
        transform: rotate(0deg)
    to
        transform: rotate(55deg)
@keyframes question-text
    from
        transform: translateX(-25px)
        opacity: 0
    to
@keyframes buttons
    from
        transform: translateY(50px)
        color: #F2F2F2
        background-color: #F2F2F2
    to
@keyframes donut
    from
        transform: scale(0) rotate(1080deg)
        opacity: 0
    to
@keyframes achive
    from
        transform: scale(1)
    50%
        transform: scale(1.15)
    to
        transform: scale(1)
@keyframes achive-icon
    from

    25%
        transform: rotate(-25deg)
    50%
        transform: rotate(0deg)
    75%
        transform: rotate(25deg)
    to
@keyframes adaptive-menu
    from
        opacity: 0
        transform: translateX(100%)
    to
        opacity: 1
        transform: translateX(0%)
