footer.footer#footer: .container.footer__container
  .footer__content
    h2.heading.footer__heading #[span.heading--under З]апишись на пробный урок
    .social.footer__social: ul.social__list
      li.social__item: a.social__link(href="#"): svg.social__icon()
        use(xlink:href="./icons/sprite.svg#socials--telegram")
      li.social__item: a.social__link(href="#"): svg.social__icon()
        use(xlink:href="./icons/sprite.svg#socials--skype")
      li.social__item: a.social__link(href="#"): svg.social__icon()
        use(xlink:href="./icons/sprite.svg#socials--facebook")
      li.social__item: a.social__link(href="#"): svg.social__icon()
        use(xlink:href="./icons/sprite.svg#socials--tiktok")