header.header: .container.header__container
  a.logo(href="index.html"): svg.logo__icon
    use(xlink:href="./icons/sprite.svg#logo")
  nav.menu: ul.menu__list
    li.menu__item: a.menu__link(href='#teach') Обо мне
    li.menu__item: a.menu__link(href='#info') Занятия
    li.menu__item: a.menu__link(href='#footer') Запись
  ul.hamburger
    li.hamburger__item
    li.hamburger__item
    li.hamburger__item