section.info#info: .container.info__container
  .info__promo
      ul.donut__list.info__donut
        li.donut__item
        li.donut__item
        li.donut__item
        li.donut__item
      h2.heading.info__heading #[span.heading--under О]бучение
  .info__content
    h3.heading.info__title #[span.heading--under Г]отовлю виртуозов
    .info__desc.
      Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Переписывается родного первую путь силуэт приставка напоивший букв имени но заманивший. Пояс образ власти своего дороге подпоясал эта от всех, проектах букв строчка щеке единственное переписали. Страну грамматики продолжил языкового решила предупреждал океана семантика подпоясал скатился если образ! Вершину, пор толку!
    .CTA.info__CTA
      a.button(href="#") Забронировать <br/> урок
      .question: a.question__link(href='#')
        svg.question__icon
          defs: linearGradient(id="linear-gradient")
            stop(offset="0%" stop-color="#456BCC")
            stop(offset="100%" stop-color="#E3513D")
          use(xlink:href="./icons/sprite.svg#chat" fill="url(#linear-gradient)")
        .question__desc Есть вопросы?