section.teach: .container.teach__container
  h2.heading.teach__heading #[span.heading--under П]реподаю
  .teach__content
    ul.donut__list.teach__donut
      li.donut__item
      li.donut__item
    ul.teach__list
      li.teach__item
        figure.teach__card
          img.teach__img(alt="Электро гитара" src="./img/guitars/guitar3.webp")
          figcaption.teach__caption Электро<br>гитара
        .teach__metas
          svg.teach__icon: use(xlink:href="./icons/sprite.svg#cup")
          .teach__desc #[span.teach__meta 7]лет преподавания
      li.teach__item
        figure.teach__card
          img.teach__img(alt="Укулеле гитара" src="./img/guitars/guitar2.webp")
          figcaption.teach__caption Укулеле<br>гитара
        .teach__metas
          svg.teach__icon: use(xlink:href="./icons/sprite.svg#mark")
          .teach__desc #[span.teach__meta 276]отзывов на 5 звёзд
      li.teach__item
        figure.teach__card
          img.teach__img(alt="Акустическая гитара" src="./img/guitars/guitar1.webp")
          figcaption.teach__caption Акустическая<br>гитара
        .teach__metas
          svg.teach__icon: use(xlink:href="./icons/sprite.svg#book")
          .teach__desc #[span.teach__meta 2000]часов преподавания