section.experience
    .container.experience__container
        h2.title.experience__title #[span.title.title--underline П]реподаю
        ul.experience__list
            li.experience__item
                .cover.cover--gray.experience__cover
                    img.cover__img(src="./img/experience/guitars/guitar-1.png" alt="Guitar")
                    h3.cover__title Электро#[br]гитара
                .experience__meta
                    img.experience__meta-icon(src="./img/experience/trophey.png")
                    .experience__meta-desc
                        h3.experience__meta-achive 7
                        .experience__meta-text: p.
                            лет#[br] преподавания
            li.experience__item
                .cover.cover--orange.experience__cover
                    img.cover__img(src="./img/experience/guitars/guitar-2.png" alt="Guitar")
                    h3.cover__title Укулеле#[br]гитара
                .experience__meta
                    img.experience__meta-icon(src="./img/experience/plus-a.png")
                    .experience__meta-desc
                        h3.experience__meta-achive 276
                        .experience__meta-text: p.
                            отзывов#[br] на 5 звёзд
            li.experience__item
                .cover.cover--blue.experience__cover
                    img.cover__img(src="./img/experience/guitars/guitar-3.png" alt="Guitar")
                    h3.cover__title Акустическая#[br]гитара
                .experience__meta
                    img.experience__meta-icon(src="./img/experience/book.png")
                    .experience__meta-desc
                        h3.experience__meta-achive 2000
                        .experience__meta-text: p.
                            часов#[br] преподавания
        .donut.experience__donut
        .donut.experience__donut