header.header: .container.header__container
    a.logo(href="#"): img.logo__pic(src="./img/logo.svg", alt="Logo Guitar School")
    nav.menu
        ul.menu__list
            li.menu__item
                a.menu__link(href="#") Обо мне
            li.menu__item
                a.menu__link(href="#") Занятия
            li.menu__item
                a.menu__link(href="#") Запись