section.hero
    include header.pug
    .container.hero__container
        .hero__wrapper
            .hero__wrapper-left
                .stick: ul.stick__list
                    li.stick__item.stick__item--blue
                    li.stick__item.stick__item--orange
                    li.stick__item.stick__item--gray
                img.hero__img(src='./img/main/guitar-man.webp' alt="Guitar man")
            .hero__wrapper-right: .hero__content
                .social: ul.social__list.hero__list
                    li.social__item: a.social__link(href="#"): img.social__icon(src="./icons/social/telegram.svg", alt="Telegram icon")
                    li.social__item: a.social__link(href="#"): img.social__icon(src="./icons/social/skype.svg", alt="Skype icon")
                    li.social__item: a.social__link(href="#"): img.social__icon(src="./icons/social/facebook.svg", alt="Facebook icon")
                    li.social__item: a.social__link(href="#"): img.social__icon(src="./icons/social/tiktok.svg", alt="Tik Tok icon")
                h1.title.hero__title #[span.title.hero__title.title--underline Я ]Виктор
                .hero__desc: p.
                    Репетитор игры на гитаре с семилетним опытом преподавания
                .buttons
                    a.button(href="#") Забронировать#[br]урок
                    .question.hero__question
                        a.question__link(href="#")
                            img.question__img(src="./icons/question.png" alt="Question icon")
                            .question__text Есть вопросы?
                .donut.hero__donut