section.teach(id="teach")
    .container.teach__container
        .teach__wrapper 
            .teach__wrapper-left
                h2.title.teach__title #[span.title.title--underline О]бучение
                .donut.teach__donut
                ul.circles
                    li.circle
                    li.circle
                    li.circle
            .teach__wrapper-right
                .teach__content
                    h3.title.teach__title #[span.title.title--underline Г]отовлю #[br] виртуозов
                    .teach__desc: p.
                        Равным образом укрепление и развитие структуры позволяет оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития. Товарищи! консультация с широким активом представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
                    .buttons.teach__buttons
                        a.button(href="#") Забронировать#[br]урок
                        .question
                            a.question__link(href="#")
                                img.question__img(src="./icons/question.png" alt="Question icon")
                                .question__text Есть вопросы?
        
