.header {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 14px;
  transform: translateX(-50%);
  @include adaptive($phone) {
    position: fixed;
  }
  &__container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include adaptive($tablet) {
      justify-content: space-evenly;
    }
    @include adaptive($phone) {
      justify-content: space-between;
    }
  }
}