.hero {
  background-color: #F2F2F2;
  overflow: hidden;
  &__container {
    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    @include adaptive($phone) {
      height: 100vh;
    }
  }
  &__promo {
    height: 100%;
    max-width: 58%;
    display: flex;
    align-items: flex-end;
    position: relative;
    @include adaptive($laptop) {
      max-width: 50%;
    }
    @include adaptive($tablet) {
      flex: 0;
      width: 0;
      position: static;
    }
  }
  &__img {
    pointer-events: none;
    position: relative;
    z-index: 5;
    width: 885px;
    height: fit-content;
    animation: fade .8s ease forwards;
    @include adaptive($laptop) {
      width: 740px;
    }
    @include adaptive($tablet) {
      position: absolute;
      width: 820px;
      left: -20%;
      bottom: -25%;
    }
    @include adaptive($phone) {
      display: none;
    }
  }
  &__dec {
    position: absolute;
    top: 15px;
    left: 0;
    @include adaptive($laptop) {
      left: -15px;
      top: 30px;
    }
    @include adaptive($tablet) {
      left: -82px;
      top: 259px;
    }
    @include adaptive($phone) {
      left: -250px;
      bottom: -15px;
    }
    &-item {
      position: absolute;
      border-radius: 189px;
      width: 198px;
      height: 603px;
      transform-origin: 50% 95%;
      transform: rotate(0deg);
      transition: transform .3s ease;
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
      @include adaptive($tablet) {
      }
      &:nth-of-type(1) {
        background-color: $accent-blue;
        left: 6px;
        animation: stick-blue 1.2s ease forwards .4s;
      }
      &:nth-of-type(2) {
        background-color: $accent-orange;
        animation: stick-orange 1.2s ease forwards .2s;
        z-index: 3;
      }
      &:nth-of-type(3) {
        background-color: #E7E7E7;
        animation: stick-gray 1.2s ease forwards;
        top: -25px;
      }
    }
  }
  &__main {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 7;
    flex: 1;
    @include adaptive($tablet) {
      justify-content: flex-end;
    }
    @include adaptive($phone) {
      justify-content: center;
    }
  }
  &__content {
    transform: translateY(-60px);
    width: 100%;
    @include adaptive($laptop) {
      width: fit-content;
    }
    @include adaptive($tablet) {
      transform: translateY(-150px);
      width: fit-content;
    }
    @include adaptive($phone) {
      transform: translateY(0);
    }
  }
  &__offer {
    max-width: pxToRem(340px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: pxToRem(22px);
  }
  &__heading {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 300;
  }
  &__title {
    white-space: nowrap;
    margin-bottom: pxToRem(12px);
  }
  &__social {
    align-self: flex-end;
  }
  &__CTA {
    max-width: 413px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__donut {
    & > .donut__item:nth-of-type(1) {
      left: 100%;
      z-index: -1;
      top: -23px;
      left: 176px;
      width: 208px;
      height: 208px;
      border-radius: 50%;
      background: linear-gradient(145deg, lighten($accent-blue, 10%), lighten($accent-orange, 10%));
      &::after {
        content: '';
        transform: translate(50%,50%);
        position: absolute;
        width: 103px;
        height: 103px;
        border-radius: 50%;
        background-color: #F2F2F2;
      }
    }
  }
}