.info {
  background-color: #F2F2F2;
  &__container {
    min-height: 800px;
    height: fit-content;
    display: grid;
    grid-template: 'promo content' 1fr/1fr 1fr;
    align-items: center;
    @include adaptive($tablet) {
      grid-template: 'content' 1fr 
        / 1fr;
      justify-items: center;
    }
  }
  &__promo {
    grid-area: 'promo';
    @include adaptive($tablet) {
      display: none;
    }
  }
  &__content {
    z-index: 6;
    grid-area: 'content';
  }
  &__heading {
    position: relative;
    z-index: 2;
  }
  &__title, &__desc  {
    margin-bottom: pxToRem(25px);
  }
  &__donut {
    & > .donut__item:nth-of-type(1) {
      left: 100%;
      z-index: 0;
      top: -97px;
      left: 18px;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      background: linear-gradient(325deg, lighten($accent-blue, 10%), lighten($accent-orange, 10%));
      &::after {
        content: '';
        transform: translate(50%,50%);
        position: absolute;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: #F2F2F2;
      }
    }
    & > .donut__item:nth-of-type(2) {
      left: 100%;
      z-index: 0;
      top: -43px;
      left: -75px;
      width: 158px;
      height: 158px;
      border-radius: 50%;
      background: linear-gradient(325deg, lighten($accent-blue, 10%), lighten($accent-orange, 10%));
      opacity: .9;
    }
    & > .donut__item:nth-of-type(3) {
      left: 100%;
      z-index: 0;
      top: 90px;
      left: 314px;
      width: 112px;
      height: 112px;
      border-radius: 50%;
      background: linear-gradient(0deg, lighten($accent-blue, 10%), lighten($accent-orange, 10%));
      filter: blur(1px);
    }
    & > .donut__item:nth-of-type(4) {
      left: 100%;
      z-index: 0;
      top: 179px;
      left: 435px;
      width: 62px;
      height: 62px;
      border-radius: 50%;
      background: linear-gradient(0deg, lighten($accent-blue, 10%), lighten($accent-orange, 10%));
      filter: blur(3px);
    }
  }
  &__CTA {
    @include adaptive($tablet) {
      max-width: none;
      justify-content: space-evenly;
    }
  }
}