.teach {
  &__container {
    height: 700px;
    background-color: white;
  }
  &__container, &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__donut {
    width: 100%;
    @include adaptive($tablet) {
      width: 75%;
    }
    height: 315px;
    > .donut__item {
      z-index: 0;
      border-radius: 50%;
      background: linear-gradient(145deg, lighten($accent-blue, 10%), lighten($accent-orange, 10%));
      &::after {
        content: '';
        transform: translate(50%,50%);
        position: absolute;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: #F2F2F2;
      }
      &:nth-child(1) {
        left: -79px;
        bottom: 15px;
        width: 158px;
        height: 158px;
        filter: blur(2px);
      }
      &:nth-child(2) {
        right: -67.5px;
        top: -67.5px;
        width: 135px;
        height: 135px;
        filter: blur(3px);
      }
    }
  }
  &__heading {
    margin-bottom: pxToRem(25px);
    z-index: 2;
  }
  &__content {
    position: relative;
    width: 100%;
    height:fit-content;
    justify-content: flex-start;
  }
  &__list {
    width: 100%;
    justify-content: space-between;
    @include adaptive($tablet) {
      overflow: hidden;
      width: 360px;
    }
    @include adaptive($phone) {
      width: min(100%,360px);
    }
  }
  &__item {
    max-width: 360px;
    width: 100%;
    left: 0%;
    @include adaptive($laptop) {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
    @include adaptive($tablet) {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      transition: .3s ease;
    }
    &:nth-child(1) > .teach__card {
        background-color: #E7E7E7;
    }
    &:nth-child(2) > .teach__card {
        background-color: lighten($accent-orange, 8%);
    }
    &:nth-child(3) > .teach__card {
        background-color: lighten($accent-blue, 8%);
    }
    &:nth-child(even) .teach__icon {
      stroke: $accent-blue;
      fill: transparent;
    }
    &:nth-child(odd)  .teach__icon {
      stroke: $accent-orange;
      fill: transparent;
    }
  }
  &__card {
    cursor: pointer;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.25);
    position: relative;
    overflow: hidden;
    margin-bottom: pxToRem(25px);
    &:hover {
      > .teach__img {
        transform: translateY(15px);
      }
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 8%;
    transform: translateY(150px);
    transition: .3s ease;
  }
  &__caption {
    position: absolute;
    right: 88px;
    top: 50%;
    text-align: center;
    font-size: pxToRem(32px);
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 1.5em;
    transform: translate(50%, -50%) rotate(90deg);
    @include adaptive($laptop) {
      transform: translate(70%, -50%) rotate(90deg);
    }
    @include adaptive($tablet) {
      transform: translate(50%, -50%) rotate(90deg);
    }
  }
  &__metas {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include adaptive($tablet) {
      justify-content: center;
    }
  }
  &__icon {
    stroke-width: 2;
    width: 80px;
    height: 80px;
    margin-right: pxToRem(18px);
    &:hover {
      animation: shake .5s ease;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__meta {
    transform-origin: center center;
    animation: counts 2s ease infinite;
    display: block;
    font-size: pxToRem(36px);
    font-weight: 600;
    letter-spacing: .05em;
  }
}