* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: 1.42em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  &-content {
    position: relative;
    flex: 1;
  }
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  &__icon {
    transition: .3s ease;
    fill: rgb(80, 80, 80);
    width: 146px;
    height: 75px;
    &:hover {
      fill: black;
    }
  }
}

.menu {
  max-width: 325px;
  width: 100%;
  &__list {
    justify-content: space-between;
  }
  &__item {
    white-space: nowrap;
    transition: .3s ease;
    &:hover {
      &:nth-of-type(odd) {
        color: $accent-orange;
      }
      &:nth-of-type(even) {
        color: $accent-blue;
      }
    }
  }
  &__link {
    font-weight: 600;
    font-size: 18px;
  }
}