.footer
    background: url('../img/main/vulture.png') left bottom/auto no-repeat
    &__title
        margin-bottom: 20px
    &__container
        min-height: 391px
        height: 100%
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center
    &__content
        width: 48%