extends pug/layout/template.pug

append variables
  - title = 'Репетитор игры на гитаре. Обучение игры на гитаре с 7 лет!';
  - mainCSS = './css/main.min.css';

append links
  link(rel="shortcut icon", href="./img/favicon.webp", type="image/x-icon")


append header
  include pug/blocks/header.pug

append content
  include pug/blocks/hero.pug
  include pug/blocks/teach.pug
  include pug/blocks/info.pug

append footer
  include pug/blocks/footer.pug

append scripts
  script(src="./main.min.js")