extends pug/layout/template.pug

append variables
  - title = 'Репетитор игры на гитаре. Обучение игры на гитаре с 7 лет!';
  - mainCSS = './css/main.min.css';

append header
  include pug/blocks/header.pug

append content
  include pug/blocks/hero.pug
  include pug/blocks/teach.pug